<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="unitPrice">
      <ion-icon src="assets/icon/comparison-svgrepo-com.svg"></ion-icon>
      <ion-label>Unidad/Precio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="discount">
      <ion-icon src="assets/icon/discount-svgrepo-com.svg"></ion-icon>
      <ion-label>Descuento</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calculator">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Calculadora</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="volver()">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>