<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        @if(segundoValor == ""){
          <ion-input
          disabled></ion-input>
          <ion-input 
          class="ion-text-end"
          [(ngModel)]="primerValor"></ion-input>
        }@else {
          <ion-input 
          class="ion-text-end"
          [(ngModel)]="terciario"></ion-input><ion-input 
          class="ion-text-end"
          [(ngModel)]="primerValor"></ion-input>
        }
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="limpiar()">C
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="operador('/')">/
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="operador('*')">*
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="operador('-')">-
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('7')">7
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('8')">8
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('9')">9
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="operador('+')">+
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('4')">4
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('5')">5
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('6')">6
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="calcular()">=
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('1')">1
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('2')">2
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('3')">3
            </ion-button>
          </ion-col><ion-col>
            <ion-button
              expand="block"
              size="large"
              (click)="num('0')">0
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>