<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ingresar">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Ingresar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="movimientos">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label>Movimientos</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>